.library-artists-wrap{
    margin-left: 3%;
    margin-right: 3%;
}
.library-artists{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.library-artists::-webkit-scrollbar {
    display: none;
  }

h3{
    font-family:Maler;
}