.album-icons-wrap{
    width:100%;
    margin:3%;
    display:flex;
    align-items: center;
    color: #02171f;
}

.album-icon{
    font-size:5vw !important;
    margin-right:1.5%;
}
.album-heart-icon{
    font-size:2.5vw  !important;
    margin-right:1%;
    color:#02171f;
}
.album-more-icon{
    font-size:2.5vw  !important;
    color: rgb(255, 255, 255);
}