.content-card{
    background: rgba(180, 176, 176, 0.3);
    border-radius: 4px;
    padding: 20px;
    margin: 1%;

}

.image-wrap{
    
    height : 11em;
    width : 160px;
    margin-bottom: 15%;
}

.content-card img {
    height : 100%;
    width : 100%;
    object-fit: cover;
    object-position: center;
}
.content-card h6{
    font-family: Quicksand-Bold;
    font-size: 90%;
    margin-top: 5%;
    margin-bottom: 10%;
}
.content-card p{
    font-family: Quicksand-Regular;
    font-size: 75%;
    margin-top: 5%;
    margin-bottom: 10%;
}