.featuredPlaylist{
    display: flex;
    flex-wrap: wrap;
  }
  .ply{
    
    width: 100%;
  }
  .feat_full{
    font-family: Quicksand-Bold;
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
  }
  .feat_full h3{
    font-family: Maler;
  }