.header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__left {
    flex: 0.5;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
  }
  
  .header__left > input {
    outline: none;
    border: none;
    width: 100%;
    font-family: Quicksand-Regular;
  }
  
  .header__right > h4 {
    margin-left: 10px;
  }