.banner-info {
    display: flex;
    align-items:center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    font-family: Quicksand-Light;
  }
  .banner-info h2 {
      font-family: Quicksand-Bold;
      
  }

  .banner-info-text {
    flex: 1;
  }
  
  .banner-info-text > h2 {
    font-size: 4vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .banner-info-text > p {
    font-size: 14px;
  } 

  .banner-info > img {
    height: 18vw;
    width: 18vw;
    object-fit:cover;
    margin-right: 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    border-radius: 10vw;
    border: 2px solid #DAD8D8;
  }