.banner-info {
    display: flex;
    align-items:center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom:5%;
    font-family: Quicksand-Regular;
    background-color: #02202b75;
    border-radius:6px;
  }
  .banner-info h2 {
      font-family: Quicksand-Bold;
      
  }

  .banner-info-text {
    flex: 1;
  }
  
  .banner-info-text > h2 {
    font-size: 4vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .banner-info-text > p {
    font-size: 14px;
    display:flex;
    align-items:center;
    /* letter-spacing: 2px; */
  } 
  
  .banner-info > img {
    height: 18vw;
    width: 18vw;
    object-fit:cover;
    margin-right: 4%;
    box-shadow: 0 4px 60px rgba(145, 144, 144, 0.5);
   
  }
  .type{
    text-transform: uppercase;
  }
.profile_img{
  border-radius: 55%;
  /* border: 2px solid #DAD8D8; */
}
.album_img{
  border-radius: 1%;
}
.artist_img{
  height: 2vw;
  width: 2vw;
  object-fit:cover;
  margin-right: 1%;
  border-radius: 2vw;
  
}
.details-txt{
  font-size: 14px;
  display:flex;
  align-items:center;
}
.details-txt p{
 margin:0px;
}
.artist-name{
  font-family: Quicksand-semiBold;
  margin-right: 1%;
}
  