.pl{
   width: 31%;
} 

.playlist{
    display: flex;
    height: 78px;
    width:97%;
    align-items: center;
    background: rgba(180, 176, 176, 0.3);
    margin: 3%;
    border-radius: 3px;
    font-size: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.playlist:hover{
    background: rgba(216, 211, 211, 0.3);
}
.playlist img{
    height: 78px;
    width: 78px;
    object-fit: contain;
    object-position: center;
    margin-right: 5%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
} 
.playlist_title{
    margin-right: 10px;
}